<div class="ui segment">
<!-- BEGIN-SNIPPET context-item -->
  <NrgContextItem @onClick={{contextCounter}}>
    Context Item
  </NrgContextItem>
  <NrgContextItem @onClick={{contextCounter}}>
    <i class="icon settings"></i>
    Context Item With Icon
  </NrgContextItem>
  <NrgContextItem @onClick={{contextCounter}} @disabled={{true}}>
    Disabled Context Item
  </NrgContextItem>
  <NrgContextItem @onClick={{contextChecked}}>
    Toggle ({{if checked "Enabled" "Disabled"}})
  </NrgContextItem>
  <NrgContextItem @onClick={{contextCheckedIcon}}>
    <div class="ui checkbox read-only">
      <input class="hidden" type="checkbox" checked={{checkedIcon}} />
      <label>
        <i class="icon settings"></i>
        Context Item w/ Checkbox and Icon
      </label>
    </div>
  </NrgContextItem>
  <NrgContextItem @onClick={{contextCheckedDisabled}} @disabled={{true}}>
    <div class="ui checkbox read-only">
      <input class="hidden" type="checkbox" checked={{checkedDisabled}} disabled={{true}}/>
      <label>
        <i class="icon settings"></i>
        Disabled Context Item w/ Checkbox
      </label>
    </div>
  </NrgContextItem>
<!-- END-SNIPPET context-item -->

  <div class="ui form">
    <div class="ui field">
      <label>Items Clicked</label>
      <div>{{counter}} time(s)</div>
    </div>
    <div class="ui field">
      <label>Item Checked</label>
      <div>{{checked}}</div>
    </div>
    <div class="ui field">
      <label>Icon Item Checked</label>
      <div>{{checkedIcon}}</div>
    </div>
    <div class="ui field">
      <label>Disabled Item Checked</label>
      <div>{{checkedDisabled}}</div>
    </div>
  </div>
</div>