<div class="ui segment">
{{!-- BEGIN-SNIPPET context-item --}}
  <NrgContextItem @onClick={{this.contextCounter}}>
    Context Item
  </NrgContextItem>
  <NrgContextItem @onClick={{this.contextCounter}}>
    <i class="icon settings"></i>
    Context Item With Icon
  </NrgContextItem>
  <NrgContextItem @onClick={{this.contextCounter}} @disabled={{true}}>
    Disabled Context Item
  </NrgContextItem>
  <NrgContextItem @onClick={{this.contextChecked}}>
    Toggle ({{if this.checked "Enabled" "Disabled"}})
  </NrgContextItem>
  <NrgContextItem @onClick={{this.contextCheckedIcon}}>
    <div class="ui checkbox read-only">
      <input class="hidden" type="checkbox" checked={{this.checkedIcon}} />
      <label>
        <i class="icon settings"></i>
        Context Item w/ Checkbox and Icon
      </label>
    </div>
  </NrgContextItem>
  <NrgContextItem @onClick={{this.contextCheckedDisabled}} @disabled={{true}}>
    <div class="ui checkbox read-only">
      <input class="hidden" type="checkbox" checked={{this.checkedDisabled}} disabled={{true}}/>
      <label>
        <i class="icon settings"></i>
        Disabled Context Item w/ Checkbox
      </label>
    </div>
  </NrgContextItem>
{{!-- END-SNIPPET context-item --}}

  <div class="ui form">
    <div class="ui field">
      <label>Items Clicked</label>
      <div>{{this.counter}} time(s)</div>
    </div>
    <div class="ui field">
      <label>Item Checked</label>
      <div>{{this.checked}}</div>
    </div>
    <div class="ui field">
      <label>Icon Item Checked</label>
      <div>{{this.checkedIcon}}</div>
    </div>
    <div class="ui field">
      <label>Disabled Item Checked</label>
      <div>{{this.checkedDisabled}}</div>
    </div>
  </div>
</div>