<div
  class="ui segment"
  {{did-insert this.onInsert}}
  {{will-destroy this.onDestroy}}
>
  <div class="ui form">
    <div class="ui field">
      <label>Items Clicked</label>
      <div>{{counter}} time(s)</div>
    </div>
    <div class="ui field">
      <label>Item Checked</label>
      <div>{{checked}}</div>
    </div>
    <div class="ui field">
      <label>Icon Item Checked</label>
      <div>{{checkedIcon}}</div>
    </div>
    <div class="ui field">
      <label>Disabled Item Checked</label>
      <div>{{checkedDisabled}}</div>
    </div>
  </div>
</div>