<div class="right item {{@class}}">
  <NrgDropdown
    @class="floating {{@dropdownClass}}"
    @menuDirection={{this.menuDirection}}
    @direction={{this.direction}}
    @defaultText={{this.defaultText}}
    @options={{@filters}}
    @onChange={{this.onFilterChange}}
    @model={{@model}}
    @valuePath={{@valuePath}}
  />
</div>