<div class="right item">
  <NrgDropdown
    @class="floating {{@class}}"
    @menuDirection={{this.menuDirection}}
    @direction={{this.direction}}
    @defaultText={{this.defaultText}}
    @options={{@filters}}
    @onChange={{this.onFilterChange}}
  />
</div>