<div class="right item">
  <NrgDropdown
    @class="floating {{@class}}"
    @menuDirection={{menuDirection}}
    @direction={{direction}}
    @defaultText={{defaultText}}
    @options={{@filters}}
    @onChange={{this.onFilterChange}}
  />
</div>