<div class="item {{@class}}" ...attributes>
  <div class="ui icon input">
    <NrgTextField
      class="item-list--search"
      @placeholder={{@placeholder}}
      @onChange={{this.onSearchInput}}
      @model={{@model}}
      @valuePath={{@valuePath}}
      {{on "focus" this.onFocus}}
    />
    <i class="search link icon"></i>
  </div>
</div>