{{! template-lint-disable no-inline-styles }}
{{nrg-appbar title=title toggleSidebar=(action "toggleSidebar")}}
<div class="pushable">
  {{nrg-sidebar isOpen=sidebarIsOpen context=(concat "#" elementId " .pushable") clickedSidebarItem=(action "clickedLink")}}
  {{#if fullscreenMap}}
    <div class="pusher">
      {{#if sidebarMenuIsOpen}}
        <div class="sidebar-solid">
          {{nrg-sidebar-menu clickedSidebarItem=(action "clickedLink")}}
        </div>
      {{/if}}
      {{yield}}
    </div>
  {{else}}
    <div class="pusher sidebar-flex-container">
      {{#if sidebarMenuIsOpen}}
        <div class="sidebar-solid">
          {{nrg-sidebar-menu clickedSidebarItem=(action "clickedLink")}}
        </div>
      {{/if}}
      <div class="main-content" style={{mainContentStyle}}>
        <div class="ui {{if fluid "fluid"}} container">
          {{yield}}
        </div>
      </div>
    </div>
  {{/if}}
</div>
{{#if lightbox.hasChildren}}
  {{nrg-lightbox-container}}
{{/if}}
{{nrg-modal-container}}
{{#nrg-toast-container as |view|}}
  {{#each flashMessages.queue as |flash|}}
    {{view.toast toast=flash}}
  {{/each}}
{{/nrg-toast-container}}
<div id="popup-container"></div>
{{nrg-keyboard-shortcut-modal}}
