{{nrg-appbar title=title toggleSidebar='toggleSidebar'}}
<div class="pushable">
  {{nrg-sidebar isOpen=sidebarIsOpen context=(concat '#' elementId ' .pushable')}}
  {{#if fullscreenMap}}
    <div class="pusher">
      {{#if sidebarMenuIsOpen}}
        <div class="sidebar-solid">
          {{nrg-sidebar-menu}}
        </div>
      {{/if}}
      {{#each flashMessages.queue as |flash|}}
        {{#nrg-flash-message-wrapper as |view|}}
          {{view.flashMessage isStuck=true flash=flash}}
        {{/nrg-flash-message-wrapper}}
      {{/each}}
      {{yield}}
    </div>
  {{else}}
    <div class="pusher sidebar-flex-container">
      {{#if sidebarMenuIsOpen}}
        <div class="sidebar-solid">
          {{nrg-sidebar-menu}}
        </div>
      {{/if}}
      <div class="main-content" style={{mainContentStyle}}>
        <div class="ui {{if fluid 'fluid'}} container">
          {{#each flashMessages.queue as |flash|}}
            {{#nrg-flash-message-wrapper as |view|}}
              {{view.flashMessage flash=flash}}
            {{/nrg-flash-message-wrapper}}
          {{/each}}
          {{yield}}
        </div>
      </div>
    </div>
  {{/if}}
</div>
{{#if lightbox.hasChildren}}
  {{nrg-lightbox-container}}
{{/if}}
{{nrg-keyboard-shortcut-modal}}
