{{#if @isOpen}}
  <div class="tether-anchor">
    <EmberTether
      @target={{@target}}
      @targetAttachment={{this.targetAttachment}}
      @attachment={{this.popupAttachment}}
    >
      <div
        role="button"
        class="ui popup
          {{if @inverted 'inverted'}}
          {{@popupClass}}
          {{this.targetAttachmentClass}}
          visible"
        {{on "mouseenter" @onMouseEnter}}
        {{on "mouseleave" @onMouseLeave}}
      >
        {{yield}}
      </div>
    </EmberTether>
  </div>
{{/if}}