{{#if this.visible}}
  {{#if @routeName}}
    <LinkTo
      @route={{@routeName}}
      class="{{@class}} {{if @isParentGroup 'parent-route' 'item'}}"
      {{on "click" this.onClick}}
      ...attributes
    >
      {{yield}}
    </LinkTo>
  {{else}}
    <a
      href={{this.url}}
      class="{{@class}} {{if @isParentGroup 'parent-route' 'item'}}"
      target="_blank"
      rel="noopener noreferrer"
      {{on "click" this.onClick}}
      ...attributes
    >
      {{yield}}
      {{#if this.url}}
        <i class="right icon external default-external-icon"></i>
      {{/if}}
    </a>
  {{/if}}
{{/if}}