{{! template-lint-disable no-inline-styles }}
<div
  class={{@modal.modalClasses}}
  style={{this.modalStyles}}
  role="dialog"
  aria-label="Modal"
  {{on-resize this.onResize}}
>
  {{#if this.hasCloseIcon}}
    <i
      class="close icon"
      role="button"
      aria-label="Close modal"
      {{on "click" this.onHide}}
    ></i>
  {{/if}}
  {{#if @modal.headerText}}
    {{#if @modal.headerIcon}}
      <i class="{{@modal.headerIcon}} icon"></i>
    {{/if}}
    <div class="ui header">
      {{@modal.headerText}}
    </div>
  {{/if}}

  <div
    class="modal-content
      {{if @modal.lightbox 'image'}}
      {{unless @modal.isSidebar 'content'}}
      {{if @modal.scrolling 'scrolling'}}"
    {{did-insert this.addModalToWormhole}}
    {{will-destroy this.removeModalFromWormhole}}
  ></div>

  {{#if @modal.hasButtons}}
    <div class="actions">
      {{#if @modal.secondaryButton}}
        <NrgButton
          @class={{@modal.secondaryButtonClass}}
          @text={{@modal.secondaryButton}}
          @onClick={{this.onSecondary}}
        />
      {{/if}}
      {{#if @modal.primaryButton}}
        <NrgButton
          @class="primary right"
          @text={{@modal.primaryButton}}
          @onClick={{this.onPrimary}}
          @autofocus={{true}}
        />
      {{/if}}
    </div>
  {{/if}}
</div>