{{! template-lint-disable no-inline-styles }}
<div
  class="ui visible active
    {{this.animationState}}
    {{if @aboveDimmer 'above-dimmer'}}
    {{if @modal.position @modal.position}}
    {{if @modal.flyout 'simple flyout overlay' 'modal'}}
    {{if @modal.sidebar 'sidebar-modal'}}
    {{if @modal.lightbox 'fullscreen lightbox'}}
    {{if (eq @modal.type 'modal') 'standard-modal'}}
    {{if @modal.modalClass @modal.modalClass}}
    {{if @modal.basic 'basic'}}
    {{if @modal.takeover 'side-by-side--takeover'}}"
  style={{this.modalStyles}}
  role="dialog"
  aria-label="Modal"
  {{on-resize this.onResize}}
  {{did-insert this.onInsert}}
>
  {{#if this.hasCloseIcon}}
    <i
      class="close icon"
      role="button"
      aria-label="Close modal"
      {{on "click" this.onHide}}
    ></i>
  {{/if}}
  {{#if @modal.headerText}}
    <div class="ui header">
      {{@modal.headerText}}
    </div>
  {{/if}}

  <div
    class="{{unless @modal.flyout 'modal-content'}}
      {{if @modal.lightbox 'image'}}
      {{unless @modal.sidebar 'content'}}
      {{if @modal.scrolling 'scrolling'}}"
    {{did-insert this.addModalToWormhole}}
    {{will-destroy this.removeModalFromWormhole}}
  ></div>

  {{#if @modal.hasButtons}}
    <div class="actions">
      {{#if @modal.secondaryButton}}
        <NrgButton
          @class={{@modal.secondaryButtonClass}}
          @text={{@modal.secondaryButton}}
          @onClick={{this.onSecondary}}
        />
      {{/if}}
      {{#if @modal.primaryButton}}
        <NrgButton
          @class="primary right"
          @text={{@modal.primaryButton}}
          @onClick={{this.onPrimary}}
          @autofocus={{true}}
        />
      {{/if}}
    </div>
  {{/if}}
</div>