<div class="ui raised segments code-block">
  <div class="ui segment">
    <h5 class="ui header">
      <i class="icon code"></i>
      <div class="content">
        {{@label}}
        {{#if @secondaryLabel}}
          <div class="sub header">
            {{@secondaryLabel}}
          </div>
        {{/if}}
      </div>
    </h5>
  </div>
  {{#if (has-block)}}
    <div class="ui segment">
      {{yield}}
    </div>
  {{/if}}
  {{#let (get-code-snippet @codeBlockName) as |snippet|}}
    <CodeBlock @language={{snippet.language}} @code={{snippet.source}}/>
  {{/let}}
</div>