{{#nrg-code-block label="Centered Loading Indicator" codeBlockName="loading-indicator-center.hbs" }}
  <!-- BEGIN-SNIPPET loading-indicator-center -->
  {{nrg-loading-indicator}}
  <!-- END-SNIPPET  -->
{{/nrg-code-block}}

{{#nrg-code-block label="Uncentered Loading Indicator" codeBlockName="loading-indicator-uncenter.hbs" }}
  <!-- BEGIN-SNIPPET loading-indicator-uncenter -->
  {{nrg-loading-indicator centered=false}}
  <!-- END-SNIPPET  -->
{{/nrg-code-block}}

{{#nrg-code-block label="Indeterminate Loading Indicator" codeBlockName="loading-indicator-indeterminate.hbs" }}
  <!-- BEGIN-SNIPPET loading-indicator-indeterminate -->
  {{nrg-loading-indicator indeterminate=true}}
  <!-- END-SNIPPET  -->
{{/nrg-code-block}}

{{#nrg-code-block label="Loading Indicator Sizes" codeBlockName="loading-indicator-sizes.hbs" }}
  <!-- BEGIN-SNIPPET loading-indicator-sizes -->
  <div class="ui segments">
    <div class="ui segment">
      <div class="ui top left attached label">Tiny</div>
      {{nrg-loading-indicator size="tiny"}}
    </div>
    <div class="ui segment">
      <div class="ui top left attached label">Small</div>
      {{nrg-loading-indicator size="small"}}
    </div>
    <div class="ui segment">
      <div class="ui top left attached label">Medium</div>
      {{nrg-loading-indicator size="medium"}}
    </div>
    <div class="ui segment">
      <div class="ui top left attached label">Large</div>
      {{nrg-loading-indicator size="large"}}
    </div>
    <div class="ui segment">
      <div class="ui top left attached label">Massive</div>
      {{nrg-loading-indicator size="massive"}}
    </div>
  </div>
  <!-- END-SNIPPET  -->
{{/nrg-code-block}}

{{#nrg-code-block label="Loading Indicator With Text" codeBlockName="loading-indicator-text.hbs" }}
  <!-- BEGIN-SNIPPET loading-indicator-text -->
  {{nrg-loading-indicator size="massive" text="Loading"}}
  <!-- END-SNIPPET  -->
{{/nrg-code-block}}
