<div
  class="ui modals
    {{if this.modalService.hasOpenModals 'visible active' 'hidden'}}
    {{if this.modalService.activeModal.sidebar 'sidebar-container'}}
    {{@class}}"
  ...attributes
>
  {{#each this.modalService.modalRenderList as |item index|}}
    {{#if (eq item "dimmer")}}
      <div
        role="button"
        aria-label={{if this.modalService.dimmerClickable "Dismiss Modal"}}
        class="ui dimmer visible active {{this.modalService.dimmerClass}}"
        {{on "click" this.modalService.onDimmerClick}}
      ></div>
    {{else}}
      <NrgModalContainer::ModalWrapper
        @modal={{item}}
        @aboveDimmer={{gt index this.modalService.dimmerIndex}}
      />
    {{/if}}
  {{/each}}
</div>