<NrgModal
  @isOpen={{this.lightboxService.lightboxIsOpen}}
  class={{@class}}
  @lightbox={{true}}
  @autofocus={{false}}
  @onModalOpen={{this.onModalOpen}}
  @onDismiss={{this.onDismiss}}
  ...attributes
>
  <div
    class="{{if
        this.bottomDetails
        'lightbox-upper-container--bottom'
        'lightbox-upper-container'
      }}"
  >
    <div class="lightbox-image">
      <div class="image-container">
        <img
          class="ui image centered {{this.rotationClass}}"
          src={{this.lightboxService.selectedItem.photo.url}}
          alt={{this.lightboxService.selectedItem.photo.altText}}
        />
      </div>
    </div>
    {{#unless this.bottomDetails}}
      <div class="lightbox-details">
        {{this.lightboxService.selectedPhotoDetail}}
      </div>
    {{/unless}}
  </div>
  {{#if this.bottomDetails}}
    <div class="lightbox-details--bottom">
      {{this.lightboxService.selectedPhotoDetail}}
    </div>
  {{/if}}
  <div
    class="{{if
        this.bottomDetails
        'lightbox-controls--bottom'
        'lightbox-controls'
      }}"
  >
    <button
      type="button"
      class="ui primary icon button"
      title="Previous Image"
      disabled={{this.lightboxService.previousDisabled}}
      {{on "click" this.previousImage}}
    >
      <i class="chevron left icon"></i>
    </button>
    <button
      type="button"
      class="ui primary icon button"
      title="Rotate Left"
      {{on "click" this.rotateLeft}}
    >
      <i class="undo icon"></i>
    </button>
    <button
      type="button"
      class="ui primary icon button"
      title="Detail Location - {{if this.bottomDetails 'Right' 'Bottom'}}"
      {{on "click" this.toggleDetailLocation}}
    >
      <i
        class="{{if
            this.bottomDetails
            'vertically flipped'
            'clockwise rotated'
          }}
          columns icon"
      ></i>
    </button>
    <button
      type="button"
      class="ui primary icon button"
      title="Rotate Right"
      {{on "click" this.rotateRight}}
    >
      <i class="repeat icon"></i>
    </button>
    <button
      type="button"
      class="ui primary icon button"
      title="Next Image"
      disabled={{this.lightboxService.nextDisabled}}
      {{on "click" this.nextImage}}
    >
      <i class="chevron right icon"></i>
    </button>
  </div>
  {{#if this.lightboxService.lightboxIsOpen}}
    <div
      {{on-key "ArrowLeft" this.moveLeft}}
      {{on-key "ArrowRight" this.moveRight}}
      hidden
    ></div>
  {{/if}}
</NrgModal>