<div hidden={{this.isHidden}}>
  {{#if @isOpen}}
    <div
      {{did-insert this.addToService}}
      {{will-destroy this.removeFromService}}
    />
  {{/if}}

  {{#if this.renderToElement}}
    {{#in-element this.renderToElement}}
      {{yield}}
    {{/in-element}}
  {{else}}
    {{yield}}
  {{/if}}
</div>