<div
  hidden
  {{did-insert this.addToService}}
  {{did-update this.handleIsOpenChange @isOpen}}
  {{will-destroy this.removeFromService}}
>
  {{#if this.renderTo}}
    {{#in-element this.renderTo}}
      {{yield}}
    {{/in-element}}
  {{else}}
    {{yield}}
  {{/if}}
</div>