<div
  role="button"
  class={{this.classes}}
  {{on "click" this.clickItem}}
  ...attributes
>
  {{#each this.mappedItems as |item|}}
    <div
      class="{{if item.active 'active '}}title"
      data-accordion-hash={{item.hash}}
    >
      {{#if @freeform}}
        {{yield item.data item.active to="title"}}
      {{else}}
        {{#if this.icon}}
          <i class={{this.iconClass}}></i>
        {{/if}}
        {{item.data.title}}
      {{/if}}
    </div>
    <div
      class="{{if item.active 'active '}}content"
      data-accordion-hash={{item.hash}}
    >
      {{#if @freeform}}
        {{yield item.data item.active to="content"}}
      {{else}}
        {{#if (has-block-params)}}
          {{yield item.data}}
        {{else}}
          <p>
            {{item.data.content}}
          </p>
        {{/if}}
      {{/if}}
    </div>
  {{/each}}
</div>