<div
  class="ui calendar"
  role="button"
  {{on "click" this.onFocus}}
  {{on-click-outside this.onBlur}}
>
  {{#if (has-block)}}
    <div class="wrapper">
      {{yield}}
      {{#if this.isFocused}}
        <NrgDatetime::Calendar
          @minDate={{@minDate}}
          @maxDate={{@maxDate}}
          @type={{this.type}}
          @value={{this.value}}
          @showNowShortcut={{this.showNowShortcut}}
          @isDateDisabled={{@isDateDisabled}}
          @allowMinuteSelection={{@allowMinuteSelection}}
          @readonly={{@readonly}}
          @onSelect={{this.onDateSelect}}
          @onClose={{this.onBlur}}
        />
      {{/if}}
    </div>
  {{else}}
    <NrgTextField
      @focusId={{@focusId}}
      @placeholder={{@placeholder}}
      @class="left icon"
      @disabled={{@disabled}}
      @readonly={{@readonly}}
      @model={{this}}
      @valuePath="displayValue"
      as |view|
    >
      {{#if this.isFocused}}
        <NrgDatetime::Calendar
          @minDate={{@minDate}}
          @maxDate={{@maxDate}}
          @type={{this.type}}
          @value={{this.value}}
          @showNowShortcut={{this.showNowShortcut}}
          @isDateDisabled={{@isDateDisabled}}
          @allowMinuteSelection={{@allowMinuteSelection}}
          @onSelect={{this.onDateSelect}}
          @onClose={{this.onBlur}}
        />
      {{/if}}
      <NrgIcon @icon={{this.icon}} />
      <view.input />
    </NrgTextField>
  {{/if}}
</div>