<div
  class="ui loader
    {{if (eq @loading false) "disabled" "active"}}
    {{if @centered "centered"}}
    {{if @inline "inline"}}
    {{if @text "text"}}
    {{if @inverted "inverted"}}
    {{if @indeterminate "indeterminate"}}
    {{if @size @size}}"
>
  {{@text}}
  {{yield}}
</div>