<div
  class="popup-anchor {{@class}}"
  {{on "mouseenter" this.onMouseEnter}}
  {{on "mouseleave" this.onMouseLeave}}
  {{did-insert this.getTarget}}
  ...attributes
>
  {{yield
    (hash
      popup=(component
        "nrg-popup/popup"
        isOpen=this.isOpen
        target=this.target
        onMouseEnter=this.onMouseEnter
        onMouseLeave=this.onMouseLeave
      )
    )
  }}
</div>