{{! template-lint-disable no-inline-styles }}
<div
  class="nrg-application
    {{if @fullscreenMap 'fullscreen-map'}}
    {{if this.computerScreenSidebarActive 'large-screen-sidebar-active'}}"
  {{on-resize this.setMainContentStyle}}
>
  <NrgAppbar @onToggleSidebar={{this.toggleSidebar}}>
    {{yield to="appbar"}}
  </NrgAppbar>
  <div class="pushable">
    <NrgSidebar @onSidebarItemClick={{this.clickedLink}}>
      <:default as |sidebar|>
        {{yield sidebar to="sidebar"}}
      </:default>
      <:footer as |sidebar|>
        {{yield sidebar to="sidebar-footer"}}
      </:footer>
    </NrgSidebar>
    <NrgModalContainer />
    {{#if @fullscreenMap}}
      <div class="pusher {{if this.flyoutIsActive 'dimmed'}}" {{on "click" this.onFlyoutDimmerClick}}>
        {{#if this.application.sidebarMenuIsOpen}}
          <div class="sidebar-solid">
            <NrgSidebarMenu @onSidebarItemClick={{this.clickedLink}}>
              <:default as |sidebar|>
                {{yield sidebar to="sidebar"}}
              </:default>
              <:footer as |sidebar|>
                {{yield sidebar to="sidebar-footer"}}
              </:footer>
            </NrgSidebarMenu>
          </div>
        {{/if}}
        {{#if @isLoading}}
          <NrgLoadingIndicator />
        {{/if}}
        {{yield}}
      </div>
    {{else}}
      <div class="pusher sidebar-flex-container {{if this.modal.activeModal.isFlyout 'dimmed'}}" {{on "click" this.onFlyoutDimmerClick}}>
        {{#if this.application.sidebarMenuIsOpen}}
          <div class="sidebar-solid">
            <NrgSidebarMenu @onSidebarItemClick={{this.clickedLink}}>
              <:default as |sidebar|>
                {{yield sidebar to="sidebar"}}
              </:default>
              <:footer as |sidebar|>
                {{yield sidebar to="sidebar-footer"}}
              </:footer>
            </NrgSidebarMenu>
          </div>
        {{/if}}
        <div class="main-content" style={{this.mainContentStyle}}>
          <div class="ui {{if @fluid 'fluid'}} container">
            {{#if @isLoading}}
              <NrgLoadingIndicator />
            {{/if}}
            {{yield}}
          </div>
        </div>
      </div>
    {{/if}}
  </div>
  {{#if this.lightbox.hasChildren}}
    <NrgLightboxContainer />
  {{/if}}
  <NrgToastContainer as |view|>
    {{#each this.flashMessages.queue as |flash|}}
      <view.toast @flash={{flash}} />
    {{/each}}
  </NrgToastContainer>
  <div id="popup-container"></div>
  {{#unless @isLoading}}
    <NrgNewFeatures />
  {{/unless}}
</div>