<div class="ui checkbox radio {{if @disabled "disabled"}} {{@class}}">
  <input
    type="radio"
    tabindex="0"
    disabled={{@disabled}}
    readonly={{@readonly}}
    name={{@name}}
    checked={{this.checked}}
    {{on "click" this.selectOption}}
  />
  <label {{on "click" this.selectOption}}>
    {{@label}}
  </label>
</div>