<div class="ui menu main fixed inverted {{@class}}">
  <div class="ui fluid container">
    <div class="left menu">
      {{#if @showBackArrow}}
        <a
          href=""
          role="button"
          class="ui item icon sidebar-toggle-button"
          {{on "click" this.onBackArrowClick}}
        >
          <i class="arrow left icon"></i>
        </a>
      {{else}}
        <a
          href=""
          role="button"
          class="ui item icon sidebar-toggle-button"
          {{on "click" this.onToggleSidebar}}
        >
          <i class="content icon"></i>
        </a>
      {{/if}}
      <div class="header item title-item">
        <span class="title-text">{{this.application.pageTitle}}</span>
        {{#if this.environmentDisplay}}
          <span class="environment-title">{{this.environmentDisplay}}</span>
        {{/if}}
      </div>
    </div>
    <div class="right menu">
      {{yield}}
      {{#if this.showAppVersion}}
        <div class="item">
          {{#if @appVersionRoute}}
            <LinkTo @route={{@appVersionRoute}}>{{nrg-app-version}}</LinkTo>
          {{else if (has-block "appVersion")}}
            {{yield (hash app-version=(nrg-app-version))}}
          {{else}}
            {{nrg-app-version}}
          {{/if}}
        </div>
      {{/if}}
      <NrgContextMenu />
    </div>
  </div>
</div>