<div class="ui input {{if @fluid @fluid}} {{@class}}" type="text" ...attributes>
  {{#if (has-block)}}
    {{yield
      (hash
        input=(component
          "nrg-text-field/trim-input"
          focusId=@focusId
          type=this.type
          min=@min
          max=@max
          step=this.step
          value=this.value
          name=@name
          placeholder=@placeholder
          autocomplete=@autocomplete
          autocapitalize=@autocapitalize
          disabled=@disabled
          maxLength=@maxLength
          readonly=@readonly
          onFocus=@onFocus
          onBlur=@onBlur
          onChange=this.onChange
        )
      )
    }}
  {{else}}
    <NrgTextField::TrimInput
      @focusId={{@focusId}}
      @type={{this.type}}
      @min={{@min}}
      @max={{@max}}
      @step={{this.step}}
      @value={{this.value}}
      @name={{@name}}
      @placeholder={{@placeholder}}
      @autocomplete={{@autocomplete}}
      @autocapitalize={{@autocapitalize}}
      @enableEnterKey={{@enableEnterKey}}
      @disabled={{@disabled}}
      @maxLength={{@maxLength}}
      @readonly={{@readonly}}
      @onFocus={{@onFocus}}
      @onBlur={{@onBlur}}
      @onChange={{this.onChange}}
    />
  {{/if}}

</div>