<div
  hidden={{this.isHidden}}
  {{did-insert this.addToService}}
  {{will-destroy this.removeFromService}}
>
  {{#if this._renderTo}}
    {{#in-element this._renderTo}}
      {{yield}}
    {{/in-element}}
  {{else}}
    {{yield}}
  {{/if}}
</div>