<div class={{if @isProgressHidden "display-none" "progress-bar"}}>
  <div class="progress-bar spacing-container {{if @isAnimated "animated" ""}}">
    <div class="progress-bar bar-container">
      <div style={{this.progressStyleWidth}} class="progress-bar infill">
      </div>
      <div class="progress-bar outer-border">
      </div>
      <div class="progress-bar step-container">

        {{#each this.progressValueArray as |value|}}
          <div
            class="progress-bar step-width"
            style={{this.progressStyleWidth}}
            key={{value}}
          >
            <div class="progress-bar step"></div>
          </div>
        {{/each}}

      </div>

    </div>
    <div
      style={{this.progressStyleAbsolutePosition}}
      class="progress-bar current-step"
    >
    </div>
  </div>
  <div class="progress-bar text-container">
    <span>
      <strong>Step {{this.progressValue}} </strong>
      of
      {{this.progressMax}}
    </span>
  </div>
</div>