<div
  class="ui modals
    {{if this.modalService.hasOpenModals "visible active" "hidden"}}
    {{if this.modalService.activeModal.sidebar "sidebar-container"}}"
>
  {{#each this.modalService.openModals as |modal|}}
    {{#if (eq this.modalService.activeModal modal)}}
      <div
        role="button"
        class="ui dimmer visible active
          {{if modal.sidebar "sidebar-dimmer" "page"}}
          {{if
            (not modal.isDismissable)
            "not-dismissable"
          }}
          {{modal.dimmerClass}}"
        {{on "click" this.onDimmerClick}}
      ></div>
    {{/if}}
    <NrgModalContainer::ModalWrapper @modal={{modal}} />
  {{/each}}
</div>