<NrgModal
  @priority={{0}}
  @renderInPlace={{not this.renderInModal}}
  @isOpen={{true}}
  @dismissable={{false}}
  @takeover={{true}}
  @class={{@class}}
  {{on-resize this.setMainContentStyle}}
  ...attributes
>
  {{#if this.renderInModal}}
    <NrgAppbar
      @showAppVersion={{false}}
      @showBackArrow={{true}}
      @onBackArrowClick={{this.onBackArrowClick}}
    />
  {{/if}}
  {{! template-lint-disable no-inline-styles }}
  <div
    class={{if this.renderInModal "main-content"}}
    style={{this.mainContentStyle}}
  >
    {{yield}}
  </div>
</NrgModal>