<div class="ui vertical left menu sidebar-menu">
  <a class="nrg-logo" href={{if @appReloadLocation @appReloadLocation "/"}}></a>
  {{#each visibleMenuItems as |menuItem|}}
    {{#if menuItem.children.length}}
      <div class="item">
        <NrgSidebarMenuItem @item={{menuItem}} @clickedSidebarItem={{@clickedSidebarItem}} @sidebarAction={{fn sidebarAction}} @isParentGroup={{true}} />
        {{#if menuItem.children}}
          <div class="menu">
            {{#each menuItem.children as |child|}}
              {{#if child.isShownInSidebar}}
                <NrgSidebarMenuItem @item={{child}} @clickedSidebarItem={{@clickedSidebarItem}} @sidebarAction={{fn sidebarAction}} />
              {{/if}}
            {{/each}}
          </div>
        {{/if}}
      </div>
    {{else}}
      <NrgSidebarMenuItem @item={{menuItem}} @clickedSidebarItem={{@clickedSidebarItem}} @sidebarAction={{fn sidebarAction}} />
    {{/if}}
  {{/each}}

  <div class="sidebar-footer">
    {{#if hasVisibleFooterItems}}
      <div class="footer-pusher"></div>
    {{/if}}
    {{#each visibleFooterItems as |menuItem|}}
      <NrgSidebarMenuItem @item={{menuItem}} @clickedSidebarItem={{@clickedSidebarItem}} @sidebarAction={{fn sidebarAction}} />
    {{/each}}
  </div>
</div>
