<div
  class="ui field
    {{if this.showError 'error'}}
    {{if @required 'required'}}
    {{if @inline 'inline'}}
    {{@class}}"
  ...attributes
>
  {{#let (unique-id) as |focusId|}}
    {{#if @label}}
      <label for={{focusId}}>
        {{@label}}
        {{#if @secondaryLabel}}
          <div class="ui basic horizontal label">{{@secondaryLabel}}</div>
        {{/if}}
      </label>
    {{/if}}

    {{yield
      (hash
        field=this
        checkbox=(component "nrg-checkbox" field=this)
        datetime=(component "nrg-datetime" field=this focusId=focusId)
        dropdown=(component "nrg-dropdown" field=this focusId=focusId)
        radio=(component "nrg-radio" field=this focusId=focusId)
        text-area=(component
          "nrg-text-area" fluid=true field=this focusId=focusId
        )
        text-field=(component
          "nrg-text-field" fluid=true field=this focusId=focusId
        )
        search=(component "nrg-search" fluid=true field=this focusId=focusId)
      )
    }}
  {{/let}}

  {{#if this.showError}}
    <div class="ui basic red pointing prompt label">{{this.errorMessage}}</div>
  {{/if}}
  {{#if this.showWarning}}
    <div class="ui basic orange pointing label">{{this.warningMessage}}</div>
  {{/if}}
  {{#if @caption}}
    <div class="ui basic pointing label">{{@caption}}</div>
  {{/if}}
</div>