<div
  class="ui checkbox
    {{if @disabled 'disabled'}}
    {{if @fitted 'fitted'}}
    {{if @readonly 'read-only'}}
    {{if (eq @type 'slider') 'slider'}}
    {{if (eq @type 'toggle') 'toggle'}}
    {{@class}}"
  ...attributes
>
  {{#let (unique-id) as |focusId|}}
    <input
      id={{focusId}}
      class="hidden"
      type="checkbox"
      checked={{this.checked}}
      name={{@name}}
      disabled={{@disabled}}
      {{on "input" this.valueChange}}
    />
    <label for={{focusId}}>
      {{@label}}
    </label>
  {{/let}}
</div>