<div
  role="button"
  class={{this.classes}}
  {{on "click" this.clickItem}}
  {{did-insert this.updateOpenItems @openItems @openItems.length}}
  {{did-update this.updateOpenItems @openItems @openItems.length}}
  ...attributes
>
  {{#each this.mappedItems as |data|}}
    <div
      class="{{if data.active 'active '}}title"
      data-accordion-hash={{data.hash}}
    >
      {{#if @freeform}}
        {{yield data.item data.active to="title"}}
      {{else}}
        {{#if this.icon}}
          <i class={{this.iconClass}}></i>
        {{/if}}
        {{data.item.title}}
      {{/if}}
    </div>
    <div
      class="{{if data.active 'active '~}}
        {{unless this.closeOnContentClick 'no-click'}}
        content"
      data-accordion-hash={{data.contentHash}}
    >
      {{#if @freeform}}
        {{yield data.item data.active to="content"}}
      {{else}}
        {{#if (has-block-params)}}
          {{yield data.item}}
        {{else}}
          <p>
            {{data.item.content}}
          </p>
        {{/if}}
      {{/if}}
    </div>
  {{/each}}
</div>