<div class={{if @isProgressHidden "display-none" "progress-bar"}}>
  <div class="spacing-container {{if @isAnimated "animated" ""}}">
    <div class="bar-container">
      <div style={{this.progressStyleWidth}} class="infill">
      </div>
      <div class="outer-border">
      </div>
      <div class="step-container">

        {{#each this.progressValueArray as |value|}}
          <div
            class="step-width"
            style={{this.progressStyleWidth}}
            key={{value}}
          >
            <div class="step {{unless @showDots "hidden"}}"></div>
          </div>
        {{/each}}

      </div>

    </div>
    <div
      style={{this.progressStyleAbsolutePosition}}
      class="current-step {{unless @showCurrentDot "hidden"}}"
    >
    </div>
  </div>
  {{#if @showLabel}}
  <div class="text-container">
    <span>
      <strong>Step {{this.progressValue}} </strong>
      of
      {{this.progressMax}}
    </span>
  </div>
  {{/if}}
</div>