<div
  class="ui modals
    {{if this.modalService.hasOpenModals 'visible active' 'hidden'}}
    {{if this.modalService.activeModal.sidebar 'sidebar-container'}}"
>
  {{#each this.modalService.modalRenderList as |item index|}}
    {{#if (eq item "dimmer")}}
      <NrgDimmer
        @ariaLabel={{if this.modalService.dimmerClickable "Dismiss Modal"}}
        @_class={{this.modalService.dimmerClass}}
        @shading={{this.modalService.pageDimmerType}}
        @onClick={{this.modalService.onDimmerClick}}
        @onRegister={{this.modalService.registerDimmer}}
        @visible={{true}}
      />
    {{else}}
      <NrgModalContainer::ModalWrapper
        @modal={{item}}
        @aboveDimmer={{gt index this.modalService.dimmerIndex}}
      />
    {{/if}}
  {{/each}}
</div>