{{#if @item.sidebarAction}}
  <a href="" class="{{if @item.active "active"}} item" {{on "click" (fn @sidebarAction @item)}}>
    <NrgSidebarMenuItem::Content @item={{@item}} />
  </a>
{{else if @item.sidebarURL}}
  <a href={{@item.sidebarURL}} class="item" target="_blank" rel="noopener" {{on "click" (fn @clickedSidebarItem @item preventDefault=false)}}>
    <NrgSidebarMenuItem::Content @item={{@item}} />
  </a>
{{else}}
  <LinkTo @route={{@item.routeName}} @class={{if @isParentGroup "parent-route" "item"}} @click={{fn @clickedSidebarItem @item}}>
    <NrgSidebarMenuItem::Content @item={{@item}} />
  </LinkTo>
{{/if}}
