{{#ui-dropdown name=name class=_dropdownClass allowAdditions=allowAdditions hideAdditions=hideAdditions showOnFocus=showOnFocus selected=selected forceSelection=forceSelection onChange=(action 'select') direction=direction allowTab=allowTab action=dropdownAction as |execute mapper|}}
  {{#if icon}}
    <i class="icon {{icon}}"></i>
  {{/if}}
  <div class="default text">{{defaultText}}</div>
  <i class="dropdown icon"></i>
  <div class="{{menuDirection}} menu">
    {{#each options as |option|}}
      <div class="{{if option.disabled 'disabled'}} item" data-value="{{map-value mapper option}}">
        {{#if hasBlock}}
          {{yield option}}
        {{else}}
          {{option.label}}
        {{/if}}
      </div>
    {{/each}}
  </div>
{{/ui-dropdown}}
