{{#if freeform}}
  {{yield (hash
    source=(component "nrg-dropdown/source")
    menu=(component "nrg-dropdown/menu"
      menuClass=menuClass
      scrollable=scrollable
      displayedOptions=displayedOptions
      activeItem=activeItem
      _onSelect=(action _onSelect))
  )}}
{{else}}
  {{#if icon}}
    <i class="icon {{icon}}"></i>
  {{/if}}

  {{#unless multiple}}
    <div class="{{textClass}} text">
      {{#if hasSelected}}
        {{#if hasBlock}}
          {{yield selected}}
        {{else if isStringData}}
          {{selected}}
        {{else}}
          {{selected.label}}
        {{/if}}
      {{else}}
        {{defaultText}}
      {{/if}}
    </div>
  {{/unless}}
  {{#if (and hasSelected multiple)}}
    {{#each selected as |selectedOption|}}
      <a data-dropdown-multi-selection="true" class="ui label transition visible">
        {{#if hasBlock}}
          {{yield selectedOption}}
        {{else if isStringData}}
          {{selectedOption}}
        {{else}}
          {{selectedOption.label}}
        {{/if}}
        <i data-dropdown-multi-selection="true" class="delete icon" role="button" {{action unselectOption selectedOption}}></i>
      </a>
    {{/each}}
  {{/if}}
  {{#if search}}
    <Input @class="search" @autocomplete="off" @name={{name}} @value={{searchValue}} />
  {{/if}}
  {{#if (and search multiple)}}
    <span class="sizer"></span>
  {{/if}}
  <i class="dropdown icon"></i>
  <div class="{{menuClass}} menu">
    {{#each displayedOptions as |option i|}}
      <NrgDropdown::Item @option={{option}} @disabled={{option.disabled}} @active={{eq i activeItem}} @index={{i}} @_onSelect={{action _onSelect}}>
        {{#if hasBlock}}
          {{yield option}}
        {{else if isStringData}}
          {{#if this.isAddingOption}}
            Add item:
          {{/if}}
          {{option}}
        {{else}}
          {{#if this.isAddingOption}}
            Add item:
          {{/if}}
          {{option.label}}
        {{/if}}
      </NrgDropdown::Item>
    {{else}}
      <NrgDropdown::Item @disabled={{true}}>
        {{#if isSearching}}
          <span>No results found.</span>
        {{else}}
          <span>No options available.</span>
        {{/if}}
      </NrgDropdown::Item>
    {{/each}}
  </div>
{{/if}}
