{{#if isOpen}}
  <div class="modal-origin-container" {{did-insert (action this.moveModalToContainer)}}>
    <div class="dimmer-anchor">
      {{#if isActive}}
        <div role="button" class="ui page dimmer visible active {{unless dismissable "not-dismissable"}}" {{action onHide}}></div>
      {{/if}}
    </div>
    <div class="ui modal visible active {{_modalClass}}" role="dialog">
      {{#if dismissable}}
        <i class="close icon" role="button" {{action onHide}}></i>
      {{/if}}

      {{#if headerText}}
        <div class="header">
          {{headerText}}
        </div>
      {{/if}}

      <div class="{{if lightbox "image"}} content">
        {{#if showFlashMessages}}
          {{#each flashMessages.queue as |flash|}}
            {{nrg-flash-message flash=flash}}
          {{/each}}
        {{/if}}
        {{yield}}
      </div>

      {{#if hasButtons}}
        <div class="actions">
          {{#if secondaryButton}}
            {{nrg-button class=secondaryButtonClass text=secondaryButton click=(action onSecondary)}}
          {{/if}}
          {{#if primaryButton}}
            {{nrg-button class="primary right" text=primaryButton click=(action onPrimary) autofocus=true}}
          {{/if}}
        </div>
      {{/if}}
    </div>
  </div>
{{/if}}
