<div class="ui attached segment nrg-list {{if @loading "disabled"}} {{@class}}">
  <div class="ui middle aligned divided unstackable items">
    {{#each this.itemsProxy as |item i|}}
      {{#if @groupHeaderHandler}}
        {{#with
          (list-group-header this.itemsProxy i @groupHeaderHandler)
          as |groupHeader|
        }}
          {{#if groupHeader}}
            <div class="group-label">
              {{groupHeader}}
            </div>
          {{/if}}
        {{/with}}
      {{/if}}
      {{#if this.canSelect}}
        <div
          role="button"
          class="{{if
              (and (exists this.selected item) this.canShowActiveItem)
              "active"
            }}
            item
            {{if (list-item-selectable item @isSelectable) "" "disabled"}}"
          {{on "click" (fn this.onItemClick item)}}
        >
          {{#if (has-block)}}
            {{yield item}}
          {{else}}
            <NrgList::DefaultListItem @item={{item}} />
          {{/if}}
        </div>
      {{else}}
        <div class="item">
          {{#if (has-block)}}
            {{yield item}}
          {{else}}
            <NrgList::DefaultListItem @item={{item}} />
          {{/if}}
        </div>
      {{/if}}
    {{else if (not @loading)}}
      <div class="item">
        <div class="middle aligned content">
          <div class="header">{{this.noResultsLabel}}</div>
        </div>
      </div>
    {{/each}}
    {{#if @loading}}
      <div class="item">
        <div class="content">
          <NrgLoadingIndicator />
        </div>
      </div>
    {{/if}}
    {{#if (and @pageMeta (not @loading) this.canStepForward)}}
      <div role="button" class="item" {{on "click" this.nextPage}}>
        <div class="content">
          <div class="header">
            More...
          </div>
        </div>
      </div>
    {{/if}}
  </div>
</div>