{{! The subMenuClass property is private and temporary, and should not be used outside of NRG }}
<div
  class="{{if @scrollable 'scrollable'}}
    menu
    {{@subMenuClass}}
    {{@menuClass}}
    {{@class}}"
  ...attributes
>
  {{yield
    (hash
      options=@displayedOptions
      item=(component
        "nrg-dropdown/item"
        activeItem=@activeItem
        onSelectInternal=this.onSelectInternal
      )
      sub-menu=(component
        "nrg-dropdown/sub-menu" onSelectInternal=this.onSelectInternal
      )
    )
  }}
</div>