{{#ui-dropdown classNames="item icon" action="hide" as |execute mapper|}}
  <i class="ellipsis vertical icon"></i>
  <div class="menu">
    {{#each options as |option|}}
      {{#if option.isDivider}}
        <div class="ui divider"></div>
      {{else if option.isCheckbox}}
        <div class="{{if option.disabled "disabled"}} item">
          {{ui-checkbox label=option.label checked=option.checked onChange=(action "itemChecked" option)}}
        </div>
      {{else}}
        <div class="{{if option.disabled "disabled"}} item" {{action "itemSelected" option}}>
          {{#if option.iconClass}}
            <i class="icon {{option.iconClass}}"></i>
          {{/if}}
          {{option.label}}
        </div>
      {{/if}}
    {{/each}}
  </div>
{{/ui-dropdown}}
