<NrgModal @priority={{0}} @renderInPlace={{renderInPlace}} @isOpen={{true}} @dismissable={{false}} @modalClass="master-detail--takeover">
  {{#if renderInModal}}
    <NrgAppbar @showReleaseNotes={{false}} @title={{title}} @showBackArrow={{true}} @onBackArrowClick={{action this.onBackArrowClick}} />
  {{/if}}
  <div class={{if renderInModal "main-content" ""}}>
    {{yield}}
  </div>
</NrgModal>
