{{#if (and isMobileScreen shouldTakeOver)}}
  <NrgModal @isOpen={{true}} @dismissable={{false}} @modalClass="master-detail--takeover">
    <NrgAppbar @title={{title}} @showBackArrow={{true}} @onBackArrowClick={{action this.onBackArrowClick}} />
    <div class="main-content">
      {{yield}}
    </div>
  </NrgModal>
{{else}}
  {{yield}}
{{/if}}
