<FreestyleSection @name="Search">
  <Freestyle::Usage>
    <:example>
      <p>
        Searching for
        <strong>{{or this.queryString "Nothing"}}</strong>
        <br />
        Selected
        <strong>{{or this.selectedResult.header "Nothing"}}</strong>
      </p>

      <NrgSearch
        @disabled={{this.disabled}}
        @hideSearchIcon={{this.hideSearchIcon}}
        @readonly={{this.readonly}}
        @query={{this.query}}
        @model={{this}}
        @valuePath="selectedResult"
      />
    </:example>

    <:api as |Args|>
      <Args.Bool
        @name="disabled"
        @defaultValue={{false}}
        @value={{this.disabled}}
        @onInput={{fn (mut this.disabled)}}
      />
      <Args.Bool
        @name="readonly"
        @defaultValue={{false}}
        @value={{this.readonly}}
        @onInput={{fn (mut this.readonly)}}
      />
      <Args.Bool
        @name="hideSearchIcon"
        @defaultValue={{false}}
        @value={{this.hideSearchIcon}}
        @onInput={{fn (mut this.hideSearchIcon)}}
      />
    </:api>
  </Freestyle::Usage>
</FreestyleSection>