<a class="nrg-logo" href={{appReloadLocation}}></a>
{{#each visibleMenuItems as |menuItem|}}
  {{#if menuItem.children.length}}
    <div class="item">
      {{nrg-sidebar-menu-item item=menuItem clicked=clicked isParentGroup=true}}
      {{#if menuItem.children}}
        <div class="menu">
          {{#each menuItem.children as |child|}}
            {{#if child.isShownInSidebar}}
              {{nrg-sidebar-menu-item item=child clicked=clicked sidebarAction=(action "sidebarAction")}}
            {{/if}}
          {{/each}}
        </div>
      {{/if}}
    </div>
  {{else}}
    {{nrg-sidebar-menu-item item=menuItem clicked=clicked sidebarAction=(action "sidebarAction")}}
  {{/if}}
{{/each}}

<div class="sidebar-footer">
  {{#if hasVisibleFooterItems}}
    <div class="footer-pusher"></div>
  {{/if}}
  {{#each visibleFooterItems as |menuItem|}}
    {{nrg-sidebar-menu-item item=menuItem clicked=clicked sidebarAction=(action "sidebarAction")}}
  {{/each}}
</div>
