<a class="nrg-logo" href={{appReloadLocation}}></a>
{{#each visibleMenuItems as |menuItem|}}
  {{#if menuItem.children.length}}
    <div class="item">
      <NrgSidebarMenuItem @item={{menuItem}} @clickedSidebarItem={{action "clickedLink"}} @sidebarAction={{action "sidebarAction"}} @isParentGroup={{true}} />
      {{#if menuItem.children}}
        <div class="menu">
          {{#each menuItem.children as |child|}}
            {{#if child.isShownInSidebar}}
              <NrgSidebarMenuItem @item={{child}} @clickedSidebarItem={{action "clickedLink"}} @sidebarAction={{action "sidebarAction"}} />
            {{/if}}
          {{/each}}
        </div>
      {{/if}}
    </div>
  {{else}}
    <NrgSidebarMenuItem @item={{menuItem}} @clickedSidebarItem={{action "clickedLink"}} @sidebarAction={{action "sidebarAction"}} />
  {{/if}}
{{/each}}

<div class="sidebar-footer">
  {{#if hasVisibleFooterItems}}
    <div class="footer-pusher"></div>
  {{/if}}
  {{#each visibleFooterItems as |menuItem|}}
    <NrgSidebarMenuItem @item={{menuItem}} @clickedSidebarItem={{action "clickedLink"}} @sidebarAction={{action "sidebarAction"}} />
  {{/each}}
</div>
