{{#nrg-code-block label="List (Advanced)" codeBlockName="nrg-list-advanced.hbs" }}
  <!-- BEGIN-SNIPPET nrg-list-advanced -->
  {{#nrg-list items=filteredItems pageMeta=filteredItems.meta query=(action "query") select=(action "select") as |list|}}
    {{#list.header as |header|}}
      {{header.search}}
      {{header.filter filters=filters filterParam="animal" selectedFilter=selectedFilter}}
    {{/list.header}}
    {{#list.items as |item|}}
      <div class="content">
        <a class="header">{{item.name}}</a>
        <div class="meta">
          <span>{{item.gender}}</span>
        </div>
        <div class="extra">
          {{item.animal}}
        </div>
      </div>
    {{/list.items}}
    {{list.create-button}}
  {{/nrg-list}}
  <!-- END-SNIPPET  -->
{{/nrg-code-block}}

{{#nrg-code-block label="List (Simple)" codeBlockName="nrg-list-simple.hbs"}}
  <!-- BEGIN-SNIPPET nrg-list-simple -->
  {{nrg-list items=mappedItems select="select"}}
  <!-- END-SNIPPET  -->
{{/nrg-code-block}}

{{#nrg-code-block label="List (Single Select)" codeBlockName="nrg-list-simple.hbs"}}
  <!-- BEGIN-SNIPPET nrg-list-simple -->
  {{nrg-list selectionType="single" items=mappedItems select="select"}}
  <!-- END-SNIPPET  -->
{{/nrg-code-block}}

{{#nrg-code-block label="List (Multiple Select)" codeBlockName="nrg-list-multiple.hbs"}}
  <!-- BEGIN-SNIPPET nrg-list-multiple -->
  {{nrg-list selectionType="multiple" items=mappedItems select="select"}}
  <!-- END-SNIPPET  -->
{{/nrg-code-block}}

{{#nrg-code-block label="List (Loading)" codeBlockName="nrg-list-loading.hbs"}}
  <!-- BEGIN-SNIPPET nrg-list-loading -->
  {{nrg-list loading=true}}
  <!-- END-SNIPPET  -->
{{/nrg-code-block}}

{{#nrg-code-block label="List (Group Header Labels)" codeBlockName="nrg-list-group-header.hbs"}}
  <!-- BEGIN-SNIPPET nrg-list-group-header -->
  {{nrg-list groupHeaderHandler=groupHeaderHandler items=mappedItems select="select"}}
  <!-- END-SNIPPET  -->
{{/nrg-code-block}}

{{#nrg-code-block label="List (Paged)" codeBlockName="nrg-list-paged.hbs"}}
  <!-- BEGIN-SNIPPET nrg-list-paged -->
  {{nrg-list items=pageItems pageMeta=pageItems.meta changePage=(action (mut pageStart)) selectedPageSize=2}}
  <!-- END-SNIPPET  -->
{{/nrg-code-block}}
