<NrgCodeBlock @label="Lightbox Thumbnails" @codeBlockName="lightbox-thumbnails.hbs">
  <!-- BEGIN-SNIPPET lightbox-thumbnails -->
  {{#each model.photos as |photo|}}
    <NrgLightboxThumbnail @photo={{photo}} />
  {{/each}}
  <!-- END-SNIPPET  -->
</NrgCodeBlock>

<NrgCodeBlock @label="Lightbox Thumbnails with Custom Details" @codeBlockName="lightbox-thumbnails-block.hbs">
  <!-- BEGIN-SNIPPET lightbox-thumbnails-block -->
  {{#each model.photos as |photo|}}
    <NrgLightboxThumbnail @photo={{photo}}>
      <strong>{{photo.detail}}</strong>
      <span>{{counter}}</span>
    </NrgLightboxThumbnail>
  {{/each}}
  <!-- END-SNIPPET  -->
</NrgCodeBlock>

<NrgCodeBlock @label="Lightbox Videos" @codeBlockName="lightbox-video.hbs">
  <!-- BEGIN-SNIPPET lightbox-videos -->
  {{#each model.videos as |video|}}
    <NrgLightboxVideo @video={{video}}/>
  {{/each}}
  <!-- END-SNIPPET  -->
</NrgCodeBlock>