<div class="ui segment">
  <p>
    <h2>Default Toasts</h2>
    <NrgButton @onClick={{action this.openDefaultToasts}}>Open</NrgButton>
  </p>
  <p>
    <h2>Toasts without Progress</h2>
    <NrgButton @onClick={{action this.openToastsWithoutProgress}}>Open</NrgButton>
  </p>
  <p>
    <h2>Toasts with Progress</h2>
    <NrgButton @onClick={{action this.openProgressToast}}>Open</NrgButton>
  </p>
  <p>
    <h2>Sticky Toasts</h2>
    <NrgButton @onClick={{action this.openStickyToast}}>Open</NrgButton>
  </p>
  <p>
    <h2>Long Paragraph Toast</h2>
    <NrgButton @onClick={{action this.openToastWithLongMessage}}>Open</NrgButton>
  </p>
</div>
