<NrgCodeBlock @label="Disabled" @codeBlockName="disabled-search.hbs">
  <!-- BEGIN-SNIPPET disabled-search -->
  <NrgSearch @disabled={{true}} />
  <!-- END-SNIPPET  -->
</NrgCodeBlock>

<NrgCodeBlock @label="Loading" @codeBlockName="loading-search.hbs">
  <p>
    Searching for <strong>{{or loadingQuery "Nothing"}}</strong>
  </p>
  <!-- BEGIN-SNIPPET loading-search -->
  <NrgSearch @loading={{true}} @query={{action (mut loadingQuery)}} />
  <!-- END-SNIPPET  -->
</NrgCodeBlock>

<NrgCodeBlock @label="Querying Template" @codeBlockName="querying-search.hbs">
  <p>
    Selected <strong>{{or selected.header "Nothing"}}</strong>
  </p>
  <!-- BEGIN-SNIPPET querying-search -->
  <NrgSearch @items={{items}} @loading={{loading}} @query={{action (perform queryTask)}} @select={{action (mut selected)}} />
  <!-- END-SNIPPET  -->
</NrgCodeBlock>

<NrgCodeBlock @label="Querying JS" @codeBlockName="querying-search.js" />
