{{! template-lint-disable no-inline-styles }}
<div
  class={{@flyout.flyoutClasses}}
  style={{this.modalStyles}}
  role="dialog"
  aria-label="Modal"
  {{did-insert this.didInsert}}
  {{on-resize this.onResize}}
  {{on-click-outside this.onClickOutside}}
>
  {{#if this.hasCloseIcon}}
    <i
      class="close icon"
      role="button"
      aria-label="Close modal"
      {{on "click" this.onHide}}
    ></i>
  {{/if}}
  {{#if @modal.headerText}}
    <div class="header">
      {{@modal.headerText}}
    </div>
  {{/if}}

  <div
    class="flyout-content content
      {{unless @flyout.renderInModal 'scrolling'}}"
    {{did-insert this.addFlyoutToWormhole}}
    {{will-destroy this.removeFlyoutFromWormhole}}
  ></div>

  {{#if @flyout.hasButtons}}
    <div class="actions">
      {{#if @flyout.secondaryButton}}
        <NrgButton
          @class="basic black"
          @text={{@flyout.secondaryButton}}
          @onClick={{this.onSecondary}}
        />
      {{/if}}
      {{#if @flyout.primaryButton}}
        <NrgButton
          @class="primary right"
          @text={{@flyout.primaryButton}}
          @onClick={{this.onPrimary}}
          @autofocus={{true}}
        />
      {{/if}}
    </div>
  {{/if}}
</div>