<div class="lightbox-container-video">
  <div class="lightbox-video-flexy">
    <div class="video-container"> 
      <video controls
        aria-label="video"
        role="button"
        preload="metadata"
        class="lightbox-video"
        src="{{selectedVideo.url}}">
      </video>
    </div>


    <div class="lightbox-controls{{bottomDetailClass}}">
      <button class="ui primary icon button" title="Previous Image" disabled={{previousDisabled}} {{action previousImage}}>
        <i class="chevron left icon"></i>
      </button>
      <button class="ui primary icon button" title="Rotate Left" {{action rotateLeft}}>
        <i class="undo icon"></i>
      </button>
      <button class="ui primary icon button" title="Detail Location - {{if bottomDetails "Right" "Bottom"}}" {{action toggleDetailLocation}}>
        <i class="{{if bottomDetails "vertically flipped" "clockwise rotated"}} columns icon"></i>
      </button>
      <button class="ui primary icon button" title="Rotate Right" {{action rotateRight}}>
        <i class="repeat icon"></i>
      </button>
      <button class="ui primary icon button" title="Next Image" disabled={{nextDisabled}} {{action nextImage}}>
        <i class="chevron right icon"></i>
      </button>
    </div>



  </div>
  <div class="lightbox-video-details">
    {{selectedVideo.detail}}
  </div>
</div>











{{!-- <div class="lightbox-container"> 
  <div class="lightbox-upper-container{{bottomDetailClass">
    <div class="image-container">
        <video role="button" preload="metadata" class="ui image photo-thumbnail"></video>
    </div>
    {{#unless bottomDetails
      <div class="lightbox-details">
        {{selectedPhotoDetail
      </div>
    {{/unless
  </div>
  {{#if bottomDetails
    <div class="lightbox-details--bottom">
      {{selectedPhotoDetail
    </div>
  {{/if
  <div class="lightbox-controls{{bottomDetailClass">
    <button class="ui primary icon button" title="Previous Image" disabled={{previousDisabled {{action previousImage>
      <i class="chevron left icon"></i>
    </button>
    <button class="ui primary icon button" title="Rotate Left" {{action rotateLeft>
      <i class="undo icon"></i>
    </button>
    <button class="ui primary icon button" title="Detail Location - {{if bottomDetails "Right" "Bottom"" {{action toggleDetailLocation>
      <i class="{{if bottomDetails "vertically flipped" "clockwise rotated" columns icon"></i>
    </button>
    <button class="ui primary icon button" title="Rotate Right" {{action rotateRight>
      <i class="repeat icon"></i>
    </button>
    <button class="ui primary icon button" title="Next Image" disabled={{nextDisabled {{action nextImage>
      <i class="chevron right icon"></i>
    </button>
  </div>
</div>
<NrgLightboxContainer::KeyboardShortcuts /> --}}