<div class="ui fluid container">
  <div class="left menu">
    <a class="ui item icon sidebar-toggle-button" {{action 'toggleSidebar'}}>
      <i class="content icon"></i>
    </a>
    <div class="header item">
      {{title}}
      {{#if environmentDisplay}}
        <span class="environment-title">{{environmentDisplay}}</span>
      {{/if}}
    </div>
  </div>
  <div class="right menu">
    {{yield}}
    <div class="item">
      {{#link-to 'release-notes'}}{{nrg-app-version}}{{/link-to}}
    </div>
    {{nrg-context-menu}}
  </div>
</div>
