<div class="ui fluid container">
  <div class="left menu">
    {{#if showBackArrow}}
      <a role="button" class="ui item icon sidebar-toggle-button" {{action this.onBackArrowClick}}>
        <i class="arrow left icon"></i>
      </a>
    {{else}}
      <a role="button" class="ui item icon sidebar-toggle-button" {{action this.onToggleSidebar}}>
        <i class="content icon"></i>
      </a>
    {{/if}}
    <div class="header item title-item">
      <span class="title-text">{{title}}</span>
      {{#if environmentDisplay}}
        <span class="environment-title">{{environmentDisplay}}</span>
      {{/if}}
    </div>
  </div>
  <div class="right menu">
    {{yield}}
    <div class="item">
      {{#link-to "release-notes"}}{{nrg-app-version}}{{/link-to}}
    </div>
    {{nrg-context-menu}}
  </div>
</div>
