<div class="ui middle aligned divided unstackable items">
  {{#each _items as |item i|}}
    {{#if groupHeaderHandler}}
      {{#with (list-group-header _items i groupHeaderHandler) as |groupHeader|}}
        {{#if groupHeader}}
          <div class="group-label">
            {{groupHeader}}
          </div>
        {{/if}}
      {{/with}}
    {{/if}}
    {{#if canSelect}}
      <div role="button" class="{{if (and (exists selected item) canShowActiveItem) "active"}} item {{if (list-item-selectable item isSelectable) "" "disabled"}}" {{action "select" item}}>
        {{#if hasBlock}}
          {{yield item}}
        {{else}}
          {{nrg-list/default-list-item item=item}}
        {{/if}}
      </div>
    {{else}}
      <div class="item">
        {{#if hasBlock}}
          {{yield item}}
        {{else}}
          {{nrg-list/default-list-item item=item}}
        {{/if}}
      </div>
    {{/if}}
  {{else if (not loading)}}
    <div class="item">
      <div class="middle aligned content">
        <div class="header">{{noResultsLabel}}</div>
      </div>
    </div>
  {{/each}}
  {{#if loading}}
    <div class="item">
      <div class="content">
        {{nrg-loading-indicator}}
      </div>
    </div>
  {{/if}}
  {{#if (and pageMeta (not loading) canStepForward)}}
    <div role="button" class="item" {{action "nextPage"}}>
      <div class="content">
        <div class="header">
          More...
        </div>
      </div>
    </div>
  {{/if}}
</div>
